html {
  font-size: 62.5%;
}

.header {
  color: #000;
  font-size: 9rem;
  text-align: center;
  margin-top: 3rem;
  letter-spacing: 0.5rem;
  text-decoration: underline;
  font-family: "Josefin Sans", sans-serif;
  transform: skewX(7deg) skewY(-2deg);
}

.list {
  display: inline;
  text-align: center;
  font-size: 3rem;
  font-weight: 400;
}

.container {
  width: 100rem;
  height: 100rem;
  margin: 10rem auto;
  display: grid;
  grid-auto-rows: 5rem;
  grid-auto-columns: 5rem;
}

.cell {
  cursor: pointer;
}
